<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs e Express</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a>
    </nav>
    <h1>Sobre</h1>
    <img src="https://via.placeholder.com/150" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis facere sint explicabo! Dicta magnam labore harum ratione quasi sapiente minima, dolor suscipit voluptatem veritatis nesciunt perferendis commodi! Possimus, laudantium velit!
    Error, architecto sunt vitae dolorum. Repellendus dolores alias neque, maxime eum provident rerum.</p>
</body>
</html>